{% extends 'base.html' %} {% block content %}
<div class="detail__img">
    <img src="{{house.img}}" alt="{{house.title}}" />
</div>

<div class="detail__name">
    {% if house.favorite_house %}
    <div class="icon-text">
        <span class="icon has-text-info">
            <i class="fas fa-check-circle"></i>
        </span>
        <span>Verified Favorite list </span>
    </div>

    {% endif %}
    <h1 class="title">{{house.title}}</h1>
</div>
<div class="detail__container">
    <div class="buttons">

        <a href="{% url 'house_update' house.pk %}" class="button is-info"> Updates
            <span class="icon">
                <i class="fas fa-edit"></i>
            </span>
        </a>
        <a href="{% url 'house_delete' house.pk %}" class="button is-danger">Delete
            <span class="icon">
                <i class="fas fa-trash-alt"></i>
            </span>
        </a>
    </div>
    <!--  above about section  -->
    <div class="detail__about">
        <h3 class="title is-4">About</h3>
        <p><strong>City:</strong> {{ house.city }}</p>
        <p><strong>State:</strong> {{ house.state }}</p>
        <p><strong>Address:</strong> {{ house.address }}</p>
        <p><strong>Bedrooms:</strong> {{ house.bedrooms }} <strong> Bathrooms:</strong> {{ house.bathroom }}</p>
        <p><strong>Square Feet:</strong> {{ house.sqft }}</p>
        <p><strong>Price:</strong> ${{ house.price }}</p>
        <p><strong>Description:</strong> {{ house.description }}</p>

    </div>
    <br> </br>

    <div class="detail__realtors mb-5">
        <h3 class="title is-3">Realtors</h3>
        <form class="mb-5" action="{% url 'realestate_create' house.pk %}" method="post">
            {% csrf_token %}
            <div class="field has-addons">
                <div class="control">
                    <input class="input" type="text" name="title" placeholder="realtor agent name" required />
                </div>
                <div class="control">
                    <input class="input" type="text" name="email" placeholder="email" required />
                </div>


                <div class="control">
                    <input class="button is-primary" type="submit" value="Add Realtor" />
                </div>
            </div>
        </form>

        {% for realestate in house.realestate.all %}
        <div class="realtor-details">
            <div class="avatar">
                <img src="{{ realestate.img }}" alt="{{ realestate.title }}">
            </div>
            <div class="details">
                <h1>{{ realestate.title }}</h1>
                <p>Phone: {{ realestate.phone }}</p>
                <p>Email: {{ realestate.email }}</p>
            </div>
        </div>
        {% empty %}
        <article class="message">
            <div class="message-header">
                <p>No Realtors Available</p>
            </div>
        </article>

        {% endfor %}
    </div>

</div>

{% endblock %}